<div class="user-list-component" *ngIf="usersResponse">
  <ul class="user-list">
    <li *ngFor="let user of usersResponse.data" class="user-list-item">
      <a [routerLink]="['/user', user.id]">
        <span class="user-name">{{user.first_name }} {{user.last_name}}</span>
        <span class="user-email">({{user.email}})</span>
      </a>
    </li>
  </ul>
  <div class="paging">
    <span>Pages:</span>
    <span class="paging-pages">
      <button *ngFor="let page of pages(usersResponse.total_pages)"
              [class.isActive]="page == usersResponse.page"
              (click)="loadData(page)">{{page}}</button>
    </span>
  </div>
</div>
