<fieldset *ngIf="user" class="user-info">
  <legend>User Info:</legend>

  <div class="column">
    <figure>
      <figcaption>Avatar</figcaption>
      <img [src]="user.avatar" />
    </figure>
  </div>

  <div class="column">
    <div class="form-group">
      <label>Id:</label>
      <input type="text" [ngModel]="user.id" />
    </div>

    <div class="form-group">
      <label>First Name:</label>
      <input type="text" [ngModel]="user.first_name" />
    </div>

    <div class="form-group">
      <label>Last Name:</label>
      <input type="text" [ngModel]="user.last_name" />
    </div>

    <div class="form-group">
      <label>Email:</label>
      <input type="text" [ngModel]="user.email" />
    </div>
  </div>
</fieldset>
